<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.rolique.cameralibrary">

    <uses-feature android:name="android.hardware.camera"
                  android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name="io.rolique.cameralibrary.screens.camera.Camera1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"/>
        <activity
            android:name="io.rolique.cameralibrary.screens.camera.Camera2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"/>
        <activity
            android:name="io.rolique.cameralibrary.screens.imageViewer.ImageViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"/>
        <activity
            android:name="io.rolique.cameralibrary.screens.videoViewer.VideoViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"/>
        <activity
            android:name="io.rolique.cameralibrary.screens.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"/>
    </application>
</manifest>